/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Lato&family=Lobster&family=Montserrat&family=Oswald&family=Shippori+Mincho&display=swap');
body{
  font-family: helvetica, arial, sans-serif;
}

h1{
  margin: 0px;
}
/* Container needed to position the button. Adjust the width as needed */
.enter{
padding-top: 80%;
margin: auto;
width: 60%;
padding: 10px;
}

/* Style the button and place it in the middle of the container/image */
.enter, input{
  weight: 150px;
  height: 60px;
  border-style: none;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate( -50%, -50%);
  transform: translate( -50%, -50%);
}


.exit{
  border-style: none;
  margin: 0;
  position: absolute;
  top: 5%;
  left: 10%;
}

.first_row{ 
  margin-top: 10%;
  text-align: center;
  margin-bottom: 5%;
}
.flower_container, .succulent_container{
  display: inline-block;
  text-align: center;
  width: 45%;
}

.second_row{
  text-align: center;
  margin-bottom: 10%;
}
.herbs_container, .vegies_container{
  display: inline-block;
  text-align: center;
  width: 15%;
}
.top-left{
  position: absolute;
  top: 20%;
  left: 15%;
}
.top-left-2{
  position: absolute;
  top: 20%;
  left: 15%;
}
.top-left-3{
  position: absolute;
  top: 20%;
  left: 15%;
}
.top-left-4{
  position: absolute;
  top: 20%;
  left: 15%;
}
.title{
  position: absolute;
  left: 15%;
  margin: 0px;
}
.plant_container, .tool_bar, .instruction_container{
  display: inline-block;
  text-align: center;
  width: 15%;
}
#tulip{
  max-width: 300px;
  height: auto;
}

.popup_instruction_container.active{
    transition-delay: 1s;
    visibility: visible;
    text-align: left;
    left: 40%;
    overflow: scroll;
}

.popup_instruction_container{
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 3px;
    width: 50%;
    height: 70%;
    left: 25%;
    top: 15%;
}

