/* CSS files add styling rules to your content */

body {
  background:#F6EBD7;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

/*h1 {
position: absolute;
width: 619px;
height: 102px;
left: 267px;
top: 145px;
font-family: Arial Black;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 102px;
/* identical to box height */

/*letter-spacing: 0.05em;

color: #506137;
}*/
.title{
  
}
h1{
  margin: auto;
  top: 50%;
  left: 50%;
  text-align: center;
  position: absolute;
  font-size: 72px;
line-height: 102px;
/* identical to box height */

letter-spacing: 0.05em;

color: #506137;

}
  

}
