/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Lato&family=Lobster&family=Montserrat&family=Oswald&family=Shippori+Mincho&display=swap');
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

/*h1 {
position: absolute;
width: 619px;
height: 102px;
left: 267px;
top: 145px;
font-family: Arial Black;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 102px;
/* identical to box height */

/*letter-spacing: 0.05em;

color: #506137;
}*/
.title{
  
}
h1{
  
}

/* Container needed to position the button. Adjust the width as needed */
.enter {
padding-top: 80%;
margin: auto;
width: 60%;
padding: 10px;
}

/* Make the image responsive */


/* Style the button and place it in the middle of the container/image */
.btn {
  border-style: none;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#btn img {
  
    height: 100%;  
    width: 100%;
}
.enter .btn:hover {

}

.first_row{ 
  margin-top:10%;
  text-align: center;
  margin-bottom:5%;
}
.flower_container, .succulent_container{
  display:inline-block;
  text-align: center;
  width: 45%
}

.second_row{
  text-align: center;
  margin-bottom:10%;
}
.herbs_container, .vegies_container{
  display:inline-block;
  text-align: center;
  width: 45%;
}
  

}
